<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add-Subject-Form</title>
</head>
<body>
    <h1>Add Subject</h1>
    <a th:href="@{/api/admin/dashboard}">⬅ Back to Dashboard</a>
    <form th:action="@{/api/admin/subject}" th:object="${subject}" method="post">
        <label>Subject Name</label>
        <input type="text" th:field="*{name}" placeholder="Enter Subject Name" required>
        <br><br>

        <label>Assign Teacher</label>
        <select th:field="*{teacher}" required>
            <option value="">-- Select Teacher --</option>
            <option th:each="t : ${teachers}" th:value="${t.id}" th:text="${t.name}">
            </option>
        </select>
        <br><br>

        <label>Assign Classroom</label>
        <select th:field="*{classroom}" required>
            <option value="">-- Select Classroom</option>
            <option th:each="c : ${classrooms}"
            th:value="${c.id}" th:text="${c.name}">
            </option>
        </select>
        <br><br>

        <button type="submit">Add Subject</button>
        <a class="btn btn-secondary" th:href="@{/api/admin/dashboard}">Cancel</a>
    </form>

</body>
</html>